In [2]:
!pip install pyomo

Collecting pyomo
  Downloading pyomo-6.9.5-cp39-cp39-win_amd64.whl (6.9 MB)
     ---------------------------------------- 6.9/6.9 MB 5.1 MB/s eta 0:00:00
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ---------------------------------------- 49.6/49.6 KB ? eta 0:00:00
Installing collected packages: ply, pyomo
Successfully installed ply-3.11 pyomo-6.9.5

WARNING: You are using pip version 22.0.4; however, version 26.0.1 is available.
You should consider upgrading via the 'C:\Users\joaon\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [ ]:
!pyomo help --solvers

In [ ]:
!pip install matplotlib

In [110]:
import pandas as pd
import numpy as np
import random
import pyomo.environ as pyo
from pyomo.environ import *
from pyomo.environ import SolverFactory
import yfinance as yf
import matplotlib.pyplot as plt

### PEGANDO DADOS DOS ATIVOS

In [69]:
lista_ativos = ['PETR4.SA', 'VALE3.SA', 'ITUB4.SA', 'BBDC4.SA', 'ABEV3.SA', 'WEGE3.SA',
       'B3SA3.SA', 'BBAS3.SA', 'RENT3.SA', 'PRIO3.SA', 'SUZB3.SA', 'GGBR4.SA',
       'CSNA3.SA', 'GOAU4.SA', 'RADL3.SA', 'ENEV3.SA', 'EQTL3.SA', 'FLRY3.SA',
       'HAPV3.SA', 'MGLU3.SA', '^BVSP']

In [119]:
random.sample(lista_ativos[0:-1],5)

['B3SA3.SA', 'ABEV3.SA', 'MGLU3.SA', 'FLRY3.SA', 'PRIO3.SA']

In [81]:
mydf = pd.DataFrame()

for ativo in lista_ativos:
    mydf[ativo] = yf.download(ativo, period="6mo")["Close"]

# mydf.head()

# dados = yf.download(lista_ativos, period="6mo")['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [95]:
mydf.tail()

,PETR4.SA,VALE3.SA,ITUB4.SA,BBDC4.SA,ABEV3.SA,WEGE3.SA,B3SA3.SA,BBAS3.SA,RENT3.SA,PRIO3.SA,...,GGBR4.SA,CSNA3.SA,GOAU4.SA,RADL3.SA,ENEV3.SA,EQTL3.SA,FLRY3.SA,HAPV3.SA,MGLU3.SA,^BVSP
Date,,,,,,,,,,,,,,,,,,,,,
2026-02-09,37.320000,87.309998,48.310001,20.910000,15.39,53.750000,17.620001,24.820000,50.580002,51.049999,...,22.250000,9.85,9.96,26.639999,21.940001,41.410000,16.940001,11.45,10.97,186241.0
2026-02-10,37.349998,87.050003,48.419998,20.920000,15.66,52.400002,17.450001,24.799999,50.490002,51.470001,...,22.150000,9.39,9.92,26.700001,19.820000,41.380001,16.900000,11.33,10.60,185929.0
2026-02-11,38.080002,90.089996,49.369999,21.540001,15.77,53.590000,17.290001,24.910000,51.090000,53.599998,...,22.650000,9.62,10.25,27.000000,20.209999,42.049999,17.150000,11.19,11.10,189699.0
2026-02-12,37.110001,89.230003,48.240002,21.230000,16.52,54.029999,17.360001,26.030001,51.599998,52.230000,...,22.190001,8.70,10.05,26.450001,19.840000,41.369999,17.340000,10.72,10.15,187766.0
2026-02-13,36.889999,87.029999,47.770000,20.969999,16.35,53.799999,17.459999,25.430000,51.439999,52.560001,...,21.650000,8.73,9.71,25.950001,21.440001,41.000000,17.520000,10.40,10.23,186464.0

In [96]:
# (mydf/mydf.iloc[0]*100).plot(figsize=(18,10))
# plt.show()

In [101]:
preco_inicial_ativo = mydf.iloc[0]
preco_inicial_ativo

PETR4.SA        28.976725
VALE3.SA        51.399197
ITUB4.SA        34.170910
BBDC4.SA        15.434501
ABEV3.SA        10.857326
WEGE3.SA        35.241474
B3SA3.SA        12.279631
BBAS3.SA        19.178659
RENT3.SA        33.948341
PRIO3.SA        38.869999
SUZB3.SA        52.717751
GGBR4.SA        16.228554
CSNA3.SA         7.420000
GOAU4.SA         6.753100
RADL3.SA        16.981380
ENEV3.SA        13.870000
EQTL3.SA        34.219070
FLRY3.SA        13.189885
HAPV3.SA        34.880001
MGLU3.SA         6.409523
^BVSP       136687.000000
Name: 2025-08-13 00:00:00, dtype: float64

In [98]:
retornos = (mydf / mydf.shift(1))-1
retornos.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2025-08-13 to 2026-02-13
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PETR4.SA  127 non-null    float64
 1   VALE3.SA  127 non-null    float64
 2   ITUB4.SA  127 non-null    float64
 3   BBDC4.SA  127 non-null    float64
 4   ABEV3.SA  127 non-null    float64
 5   WEGE3.SA  127 non-null    float64
 6   B3SA3.SA  127 non-null    float64
 7   BBAS3.SA  127 non-null    float64
 8   RENT3.SA  127 non-null    float64
 9   PRIO3.SA  127 non-null    float64
 10  SUZB3.SA  127 non-null    float64
 11  GGBR4.SA  127 non-null    float64
 12  CSNA3.SA  127 non-null    float64
 13  GOAU4.SA  127 non-null    float64
 14  RADL3.SA  127 non-null    float64
 15  ENEV3.SA  127 non-null    float64
 16  EQTL3.SA  127 non-null    float64
 17  FLRY3.SA  127 non-null    float64
 18  HAPV3.SA  127 non-null    float64
 19  MGLU3.SA  127 non-null    float64
 20  ^BVSP     127 non-null    float64
dtypes: float64(21)
memory usage: 22.0 KB

In [128]:
retorno_media = retornos.mean()*127

In [130]:
retorno_media.iloc[0]

0.2522254143271957

## DADOS DE ENTRADA

In [22]:
valor_total_investir = 50000
total_ativos = 20
tamanho_carteira = 5
limite_minimo_erro = float(-0.002)
limite_maximo_erro = float(0.05)

## INICIANDO MODELO

In [122]:
model = pyo.ConcreteModel()

#### DEFININDO VARIAVEIS

In [123]:
## Quantidade de lotes que vao ser comprados
model.x = pyo.Var(range(5), bounds=(0,0.15))
x = model.x

In [35]:
## se o ativo foi usado ou nao 0 nao 1 sim
model.y = pyo.Var(range(total_ativos), bounds=(0,1))
y=model.y

#### DEFININDO RESTRIÇÔES

In [36]:
model.quantidade_ativos_carteira = pyo.Constraint(expr = sum(y[i] for i in range(total_ativos)) == tamanho_carteira)

In [ ]:
model.valor_maximo_investido = pyo.Constraint(expr = sum(x[i]*100*preco_inicial_ativo[i] for i in range(tamanho_carteira)) <= valor_total_investir)

TypeError: float() argument must be a string or a number, not 'IndexedVar'

In [126]:
model.soma_peso_percent = pyo.Constraint(expr = sum(x[i] for i in range(int(tamanho_carteira))) == 1 )