In [1]:
import pandas as pd
import numpy as np
import random
import pyomo.environ as pyo
from pyomo.environ import *
from pyomo.environ import SolverFactory
import yfinance as yf
import matplotlib.pyplot as plt

In [13]:
df = pd.read_excel('exerc5.xlsx')
colunas = df.columns.tolist()
df.set_index('Item ', inplace=True)
df = df.rename(columns={colunas[1]: 'Demanda', colunas[2]: 'Lucro', colunas[3]: 'Area'})
df.head()

       Demanda  Lucro  Area
Item
1           50      2    65
2           35      2    45
3           25      3    58
4           20      4    71
5           45      4    71

In [58]:
#Dicionarios

lista_demanda = df['Demanda'].tolist()
lista_lucro = df['Lucro'].tolist()  
lista_area = df['Area'].tolist()
total_itens = len(lista_demanda)

In [59]:
dicio_demanda={}
for i in range(len(lista_demanda)):
    dicio_demanda[i] = lista_demanda[i]
dicio_lucro={}
for i in range(len(lista_lucro)):
    dicio_lucro[i] = lista_lucro[i]
dicio_area={}
for i in range(len(lista_area)):
    dicio_area[i] = lista_area[i]

In [83]:
model = pyo.ConcreteModel()

model.x = pyo.Var(range(total_itens), domain=pyo.NonNegativeIntegers)


#Set
model.itens= pyo.Set(initialize=range(total_itens))
#RangeSet

model.total_itens = pyo.RangeSet(0, total_itens-1)

#Params
model.DEMANDA = pyo.Param(model.itens, initialize=dicio_demanda)
model.LUCRO = pyo.Param(model.itens, initialize=dicio_lucro)
model.AREA = pyo.Param(model.itens, initialize=dicio_area)

#objetivo
def lucro_total(model):
    return sum(model.LUCRO[i] * model.x[i] for i in model.itens) 
model.obj = pyo.Objective(rule=lucro_total, sense=pyo.maximize)

#restrição
def area_total(model):
    return sum(model.AREA[i] * model.x[i] for i in model.itens) <= 37000
model.rest_area = pyo.Constraint(rule=area_total)

def restricao_demanda(model, i):
    return model.x[i] <= model.DEMANDA[i]
model.rest_demanda = pyo.Constraint(model.itens, rule=restricao_demanda)

In [84]:
model.pprint()

1 Set Declarations
    itens : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   20 : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

1 RangeSet Declarations
    total_itens : Dimen=1, Size=20, Bounds=(0, 19)
        Key  : Finite : Members
        None :   True :  [0:19]

3 Param Declarations
    AREA : Size=20, Index=itens, Domain=Any, Default=None, Mutable=False
        Key : Value
          0 :    65
          1 :    45
          2 :    58
          3 :    71
          4 :    71
          5 :    77
          6 :    90
          7 :    90
          8 :    65
          9 :    52
         10 :    90
         11 :    52
         12 :    71
         13 :    77
         14 :    58
         15 :    45
         16 :    65
         17 :   103
         18 :    71
         19 :    97
    DEMANDA : Size=20, Index=itens, Domain=Any, Default=None, Mutable=False
        Key : Value
          0 :    50
          1 :    35
          2 :    25
          3 :    20
          4 :    45
          5 :    50
          6 :    45
          7 :    40
          8 :    30
          9 :    50
         10 :    35
         11 :    50
         12 :    20
         13 :    25
         14 :    30
         15 :    20
         16 :    60
         17 :    35
         18 :    25
         19 :    45
    LUCRO : Size=20, Index=itens, Domain=Any, Default=None, Mutable=False
        Key : Value
          0 :     2
          1 :     2
          2 :     3
          3 :     4
          4 :     4
          5 :     6
          6 :     5
          7 :     5
          8 :     6
          9 :     4
         10 :     2
         11 :     6
         12 :     5
         13 :     3
         14 :     4
         15 :     2
         16 :     2
         17 :     1
         18 :     5
         19 :     4

1 Var Declarations
    x : Size=20, Index={0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
        Key : Lower : Value : Upper : Fixed : Stale : Domain
          0 :     0 :  None :  None : False :  True : NonNegativeIntegers
          1 :     0 :  None :  None : False :  True : NonNegativeIntegers
          2 :     0 :  None :  None : False :  True : NonNegativeIntegers
          3 :     0 :  None :  None : False :  True : NonNegativeIntegers
          4 :     0 :  None :  None : False :  True : NonNegativeIntegers
          5 :     0 :  None :  None : False :  True : NonNegativeIntegers
          6 :     0 :  None :  None : False :  True : NonNegativeIntegers
          7 :     0 :  None :  None : False :  True : NonNegativeIntegers
          8 :     0 :  None :  None : False :  True : NonNegativeIntegers
          9 :     0 :  None :  None : False :  True : NonNegativeIntegers
         10 :     0 :  None :  None : False :  True : NonNegativeIntegers
         11 :     0 :  None :  None : False :  True : NonNegativeIntegers
         12 :     0 :  None :  None : False :  True : NonNegativeIntegers
         13 :     0 :  None :  None : False :  True : NonNegativeIntegers
         14 :     0 :  None :  None : False :  True : NonNegativeIntegers
         15 :     0 :  None :  None : False :  True : NonNegativeIntegers
         16 :     0 :  None :  None : False :  True : NonNegativeIntegers
         17 :     0 :  None :  None : False :  True : NonNegativeIntegers
         18 :     0 :  None :  None : False :  True : NonNegativeIntegers
         19 :     0 :  None :  None : False :  True : NonNegativeIntegers

1 Objective Declarations
    obj : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : maximize : 2*x[0] + 2*x[1] + 3*x[2] + 4*x[3] + 4*x[4] + 6*x[5] + 5*x[6] + 5*x[7] + 6*x[8] + 4*x[9] + 2*x[10] + 6*x[11] + 5*x[12] + 3*x[13] + 4*x[14] + 2*x[15] + 2*x[16] + x[17] + 5*x[18] + 4*x[19]

2 Constraint Declarations
    rest_area : Size=1, Index=None, Active=True
        Key  : Lower : Body                                                                                                                                                                                                             : Upper   : Active
        None :  -Inf : 65*x[0] + 45*x[1] + 58*x[2] + 71*x[3] + 71*x[4] + 77*x[5] + 90*x[6] + 90*x[7] + 65*x[8] + 52*x[9] + 90*x[10] + 52*x[11] + 71*x[12] + 77*x[13] + 58*x[14] + 45*x[15] + 65*x[16] + 103*x[17] + 71*x[18] + 97*x[19] : 37000.0 :   True
    rest_demanda : Size=20, Index=itens, Active=True
        Key : Lower : Body  : Upper : Active
          0 :  -Inf :  x[0] :  50.0 :   True
          1 :  -Inf :  x[1] :  35.0 :   True
          2 :  -Inf :  x[2] :  25.0 :   True
          3 :  -Inf :  x[3] :  20.0 :   True
          4 :  -Inf :  x[4] :  45.0 :   True
          5 :  -Inf :  x[5] :  50.0 :   True
          6 :  -Inf :  x[6] :  45.0 :   True
          7 :  -Inf :  x[7] :  40.0 :   True
          8 :  -Inf :  x[8] :  30.0 :   True
          9 :  -Inf :  x[9] :  50.0 :   True
         10 :  -Inf : x[10] :  35.0 :   True
         11 :  -Inf : x[11] :  50.0 :   True
         12 :  -Inf : x[12] :  20.0 :   True
         13 :  -Inf : x[13] :  25.0 :   True
         14 :  -Inf : x[14] :  30.0 :   True
         15 :  -Inf : x[15] :  20.0 :   True
         16 :  -Inf : x[16] :  60.0 :   True
         17 :  -Inf : x[17] :  35.0 :   True
         18 :  -Inf : x[18] :  25.0 :   True
         19 :  -Inf : x[19] :  45.0 :   True

9 Declarations: x itens total_itens DEMANDA LUCRO AREA obj rest_area rest_demanda

In [85]:
opt = SolverFactory('cplex')
results = opt.solve(model)

In [88]:
for i in model.total_itens:
    print(f'Item {i+1}: {model.x[i].value}')
print(f'Lucro total: {model.obj()}')
print(f'Área total: {sum(model.AREA[i] * model.x[i].value for i in model.itens)}')

Item 1: 0.0
Item 2: 34.0
Item 3: 25.0
Item 4: 20.0
Item 5: 45.0
Item 6: 50.0
Item 7: 45.0
Item 8: 40.0
Item 9: 30.0
Item 10: 50.0
Item 11: 0.0
Item 12: 50.0
Item 13: 20.0
Item 14: 7.0
Item 15: 30.0
Item 16: 20.0
Item 17: 0.0
Item 18: 0.0
Item 19: 25.0
Item 20: 45.0
Lucro total: 2394.0
Área total: 36984.0